@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #7e7e7e;
}

li, a, button {
    font-family: "Poppins", Regular;
    font-weight: 400;
    font-size: 16px;
    color:azure;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px, 10%;
}
